<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>О нас</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="bg-light p-5 rounded">
    <h1>Контактная информация</h1><br>
    <p class="lead">Адрес: г.Москва, Ярославское шоссе 26к14</p><br>
    <p class="lead">Звоните: 8-964-324-83-02</p>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>